.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* يغطي كامل الشاشة */
    width: 100vw;
    background-color: #f9f9f9; /* خلفية خفيفة */
    margin: auto;
  }
  
  .spinner {
    border: 6px solid #f3f3f3; /* لون خارجي */
    border-top: 6px solid #4f46e5; /* لون الجزء الدوار */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  /* الحركة الدورانية */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  