.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: #f9f9f9;
}

.authForm {
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
}

.authForm h2 {
    text-align: center;
    margin-bottom: 10px;
}

.authForm input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.authForm button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #b91c1c;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.authForm button:hover {
    background: #911616;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
}
