.section {
    display: flex;
    align-items: center;
    padding: 80px 100px;
    gap: 200px;
  }
  
  .left {
    position: relative;
    width: 50%;
  }
  
  .imageWrapper {
    border-radius: 20px;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    border-radius: 20px;
    display: block;
  }
  
  .card {
    position: absolute;
    bottom: -75px;
    left: 250px;
  
    width: 60%;
    background: #3f3f3f;
    padding: 40px;
    border-radius: 16px;
    color: white;
  }
  
  .card h3 {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
    
  }
  
  .row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .row img {
    width: 30px;
    height: 30px;
  }
  
  .right {
    width: 50%;
  }
  
  .title {
    font-size: 58px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 25px;
  }
  
  .text, .textOne {
    color: #555;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 18px;
  }
  .textOne{
    font-weight: 500;
  }
  