.container {
    padding: 20px;
    width: 78vw;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #4f46e5;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .table th {
    background-color: #f3f3f3;
  }
  
  .table tr:nth-child(even) {
    background-color: #fafafa;
  }
  
  select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 18px;
    color: #4f46e5;
  }


  .notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50; /* أخضر للنجاح */
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    animation: fadeInOut 3s forwards;
  }
  
  .notification.error {
    background-color: #f44336; /* أحمر للفشل */
    animation: fadeInOut 3s forwards;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    10%, 90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
  }
  
  