body{
    overflow-x: hidden;
   
}


.dashboardContainer {
    /* max-width: 1500px;  */
     width: 78vw;
    margin: 40px auto;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .header h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .logoutBtn {
    padding: 10px 20px;
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .logoutBtn:hover {
    background-color: #e04344;
  }
  
  .cardsContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .card {
    flex: 1 1 200px;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #222;
  }
  
  .card p {
    color: #555;
  }
  
  .info {
    text-align: center;
    font-size: 1rem;
    color: #666;
  }
  