.section {
  width: 100%;
  background: #ffffff;
}

/* ===========================
   HERO SECTION
   =========================== */
.hero {
  position: relative;
  width: 100%;
  height: 80vh;
  margin-top: 100px;
  background-size: cover;
  background-position: center;
  background-image: url("/src/assets/About-BG.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.168);
}

.centerContent {
  position: relative;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.playButton {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px;
  cursor: pointer;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}

.playIcon {
  width: 0;
  height: 0;
  border-left: 14px solid #c0392b;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.heroTitle {
  font-size: 40px;
  line-height: 1.3;
  font-weight: 600;
  font-family: "Georgia", serif;
}

@media (max-width: 768px) {
  .heroTitle {
    font-size: 28px;
  }
}

/* ===========================
   FEATURES SECTION
   =========================== */
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
}

.featureBox {
  display: flex;
  gap: 25px;
  
}


.icon {
  width: 55px;
  margin-bottom: 12px;
}

.featureTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.text {
  color: #666;
  max-width: 260px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .features {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .text {
    max-width: 100%;
  }
}
