.container {
    text-align: center;
    padding: 60px 20px;
    font-family: "Georgia", serif;
  }
  
  .title {
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .subtitle {
    font-size: 14px;
    color: #555;
    max-width: 480px;
    margin: 0 auto 40px;
  }
  
  .formWrapper {
    display: flex;
    justify-content: center;
  }
  
  .form {
    background: #ffffff;
    padding: 40px;
    width: 650px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    border-radius: 12px;
  }
  
  .row {
    display: flex;
    gap: 20px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .inputGroup label {
    font-size: 14px;
    margin-bottom: 6px;
  }
  
  .inputGroup input,
  .inputGroup textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 14px;
  }
  
  .inputGroup textarea {
    height: 120px;
    border-radius: 12px;
    resize: none;
  }
  
  .btn {
    width: 100%;
    padding: 14px;
    background: #b52829;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
  }
  
  .btn:hover {
    background: #982021;
  }
  
  .infoSection {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
    text-align: left;
    font-family: "Arial", sans-serif;
  }
  
  .phone {
    color: #b52829;
    font-weight: bold;
  }
  